<!--Under Maintenance Starts-->
<section id="maintenance" class="full-height-vh">
    <div class="container-fluid" style="direction: ltr">
        <div class="row full-height-vh">
            <div class="col-12 d-flex align-items-center
                justify-content-center">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="survey-container contentcontainer
                            codecontainer">
                            <div id="surveyElement"></div>
                            <hr />
                            <button class="btn btn-primary btn-lg mt-4"
                                (click)="save()">
                                ذخیره
                            </button>
                        </div>
                        <button class="btn btn-primary btn-lg mt-4">
                            <a [routerLink]="['/']" class="text-decoration-none
                                text-white">
                                بازگشت به صفحه ورود
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Under Maintenance Starts-->
