@import "~bootstrap/dist/css/bootstrap.css"; 
@font-face {
    font-family: myFirstFont0;
    src: url('../../../../../assets/fonts/BNazanin.ttf');
  }
  @font-face {
    font-family: myFirstFont1;
    src: url('../../../../../assets/fonts/BRoyaBd.ttf');
  }
  @font-face {
    font-family: myFirstFont2;
    src: url('../../../../../assets/fonts/BYekan.ttf');
  }