<!-- Minimal statistics section start -->
<section id="minimal-statistics">
  <div class="row text-left">
    <div class="col-12 mt-3 mb-1">
      <div class="content-header">کارت های آمار کم</div>
      <p class="content-sub-header">آمار در کارت های حداقل</p>
    </div>
  </div>

  <div class="row text-left" matchHeight="card">
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="px-3 py-3">
            <div class="media">
              <div class="media-body text-left">
                <h3 class="mb-1 danger">278</h3>
                <span>پروژه ی جدید</span>
              </div>
              <div class="media-right align-self-center">
                <i class="icon-rocket danger font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="px-3 py-3">
            <div class="media">
              <div class="media-body text-left">
                <h3 class="mb-1 success">156</h3>
                <span>کاربر جدید</span>
              </div>
              <div class="media-right align-self-center">
                <i class="icon-user success font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="px-3 py-3">
            <div class="media">
              <div class="media-body text-left">
                <h3 class="mb-1 warning">64.89 %</h3>
                <span>نرخ تبدیل</span>
              </div>
              <div class="media-right align-self-center">
                <i class="icon-pie-chart warning font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="px-3 py-3">
            <div class="media">
              <div class="media-body text-left">
                <h3 class="mb-1 primary">423</h3>
                <span>بلیط های پشتیبانی</span>
              </div>
              <div class="media-right align-self-center">
                <i class="icon-support primary font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row text-left" matchHeight="card">
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="px-3 py-3">
            <div class="media">
              <div class="media-body text-left">
                <h3 class="mb-1 primary">278</h3>
                <span>مطلب جدید</span>
              </div>
              <div class="media-right align-self-center">
                <i class="icon-book-open primary font-large-2 float-right"></i>
              </div>
            </div>
            <div class="mt-2 mb-0">
              <ngb-progressbar type="primary" [value]="80" class="progress-bar-sm"></ngb-progressbar>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="px-3 py-3">
            <div class="media">
              <div class="media-body text-left">
                <h3 class="mb-1 warning">156</h3>
                <span>نظر جدید</span>
              </div>
              <div class="media-right align-self-center">
                <i class="icon-bubbles warning font-large-2 float-right"></i>
              </div>
            </div>
            <div class="mt-2 mb-0">
              <ngb-progressbar type="warning" [value]="35" class="progress-bar-sm"></ngb-progressbar>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="px-3 py-3">
            <div class="media">
              <div class="media-body text-left">
                <h3 class="mb-1 success">64.89 %</h3>
                <span>نرخ بیکاری</span>
              </div>
              <div class="media-right align-self-center">
                <i class="icon-cup success font-large-2 float-right"></i>
              </div>
            </div>
            <div class="mt-2 mb-0">
              <ngb-progressbar type="success" [value]="60" class="progress-bar-sm"></ngb-progressbar>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="px-3 py-3">
            <div class="media">
              <div class="media-body text-left">
                <h3 class="mb-1 danger">423</h3>
                <span>مجموع بازدید ها</span>
              </div>
              <div class="media-right align-self-center">
                <i class="icon-direction danger font-large-2 float-right"></i>
              </div>
            </div>
            <div class="mt-2 mb-0">
              <ngb-progressbar type="danger" [value]="40" class="progress-bar-sm"></ngb-progressbar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- // Minimal statistics section end -->

<!-- Minimal statistics with bg color section start -->
<section id="minimal-statistics-bg">
  <div class="row text-left">
    <div class="col-12 mt-3 mb-1">
      <div class="content-header">آمار حداقل با رنگ پس زمینه</div>
      <p class="content-sub-header">آمار بر روی حداقل کارت با رنگ پس زمینه.</p>
    </div>
  </div>

  <div class="row text-left" matchHeight="card">
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card bg-warning">
        <div class="card-content">
          <div class="px-3 py-3">
            <div class="media">
              <div class="media-body white text-left">
                <h3>278</h3>
                <span>پروژه ی جدید</span>
              </div>
              <div class="media-right align-self-center">
                <i class="icon-rocket white font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card bg-success">
        <div class="card-content">
          <div class="px-3 py-3">
            <div class="media">
              <div class="media-body white text-left">
                <h3>156</h3>
                <span>کاربر جدید</span>
              </div>
              <div class="media-right align-self-center">
                <i class="icon-user white font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card bg-danger">
        <div class="card-content">
          <div class="px-3 py-3">
            <div class="media">
              <div class="media-body white text-left">
                <h3>64.89 %</h3>
                <span>نرخ تبدیل</span>
              </div>
              <div class="media-right align-self-center">
                <i class="icon-pie-chart white font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card bg-primary">
        <div class="card-content">
          <div class="px-3 py-3">
            <div class="media">
              <div class="media-body white text-left">
                <h3>423</h3>
                <span>بلیط های پشتیبانی</span>
              </div>
              <div class="media-right align-self-center">
                <i class="icon-support white font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row text-left" matchHeight="card">
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card bg-primary">
        <div class="card-content">
          <div class="px-3 py-3">
            <div class="media">
              <div class="media-left align-self-center">
                <i class="icon-pencil white font-large-2 float-left"></i>
              </div>
              <div class="media-body white text-right">
                <h3>278</h3>
                <span>مطلب جدید</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card bg-danger">
        <div class="card-content">
          <div class="px-3 py-3">
            <div class="media">
              <div class="media-left align-self-center">
                <i class="icon-speech white font-large-2 float-left"></i>
              </div>
              <div class="media-body white text-right">
                <h3>156</h3>
                <span>نظر جدید</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card bg-success">
        <div class="card-content">
          <div class="px-3 py-3">
            <div class="media">
              <div class="media-left align-self-center">
                <i class="icon-graph white font-large-2 float-left"></i>
              </div>
              <div class="media-body white text-right">
                <h3>64.89 %</h3>
                <span>نرخ بیکاری</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card bg-warning">
        <div class="card-content">
          <div class="px-3 py-3">
            <div class="media">
              <div class="media-left align-self-center">
                <i class="icon-pointer white font-large-2 float-left"></i>
              </div>
              <div class="media-body white text-right">
                <h3>423</h3>
                <span>مجموع بازدید ها</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- // Minimal statistics with bg color section end -->

<!-- Basic example section start -->
<section id="basic-examples">
  <div class="row text-left">
    <div class="col-12 mt-3 mb-1">
      <div class="content-header">مثال پایه</div>
      <p class="content-sub-header">کارت ها نیاز به مقدار کمی از نشانه گذاری و کلاس ها برای شما فراهم می کند با کنترل به همان اندازه که ممکن است. این کلاس ها و نشانه گذاری هرچند قابل انعطاف هستند و می توانند به طور معمول با ریموت کردن و تمدید راحت باشند. به عنوان مثال، اگر کارت شما دارای محتوای فلاش مانند تصاویر نیست، به راحتی می توانید کلاس
          <code>.card-body</code> را به کلاس <code>.card</code>
          قرار دهید تا نشانه گذاری شما را تثبیت کند.</p>
    </div>
  </div>

  <div class="row text-left" matchHeight="card">
    <div class="col-xl-3 col-lg-6 col-md-12">
      <div class="card">
        <div class="card-content">
          <img class="card-img-top img-fluid" src="assets/img/photos/06.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">عنوان کارت</h4>
            <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
            <a class="btn btn-raised btn-warning">برو به</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <img class="card-img img-fluid mb-3" src="assets/img/photos/08.jpg" alt="Card image cap">
            <h4 class="card-title">عنوان کارت</h4>
            <p class="card-text">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. 
            </p>
            <a class="btn btn-raised btn-success">برو به</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">عنوان کارت</h4>
          <h6 class="card-subtitle text-muted">زیرنویس کارت پشتیبانی</h6>
        </div>
        <div class="card-content">
          <img class="img-fluid" src="assets/img/photos/10.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد</p>
          </div>
        </div>
        <div class="card-footer">
          <a class="card-link danger">لینک کارت</a>
          <a class="card-link danger">لینک دیگر</a>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">عنوان کارت</h4>
          <h6 class="card-subtitle text-muted">زیرنویس کارت پشتیبانی</h6>
        </div>
        <div class="card-content">
          <div class="card-body">
            <img class="img-fluid" src="assets/img/photos/09.jpg" alt="Card image cap">
            <p class="card-text mt-1">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
          </div>
        </div>
        <div class="card-footer">
          <a class="card-link info darken-2">لینک کارت</a>
          <a class="card-link info darken-2">لینک دیگر</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- // Basic example section end -->

<!-- Content types section start -->
<section id="content-types">
  <div class="row text-left">
    <div class="col-12 mt-3 mb-1">
      <div class="content-header">انواع محتوا</div>
      <p class="content-sub-header">
          کارت ها از طیف گسترده ای از محتوا، از جمله تصاویر، متن، لیست گروه ها، لینک ها و موارد دیگر پشتیبانی می کنند. برای ایجاد کارت مورد نیاز، انواع مختلف محتوا را مخلوط و مطابقت دهید.
      </p>
    </div>
  </div>

  <div class="row text-left" matchHeight="card">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-content">
          <img class="card-img-top img-fluid" src="assets/img/photos/14.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">پایه</h4>
            <p class="card-text">
                بعضی از نمونه های سریع نمونه ای که بر روی عنوان کارت ساخته می شوند و بخش عمده ای از محتوای کارت را تشکیل می دهند.
            </p>
            <a class="btn btn-raised btn-danger">برو به</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">فهرست گروه</h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <p class="card-text">
                بعضی از نمونه های سریع نمونه ای که بر روی عنوان کارت ساخته می شوند و بخش عمده ای از محتوای کارت را تشکیل می دهند.
            </p>
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              <span class="badge bg-primary float-right">7</span> روزنامه
            </li>
            <li class="list-group-item">
              <span class="badge bg-info float-right">2</span> کتاب های جدید
            </li>
            <li class="list-group-item">
              <span class="badge bg-warning float-right">1</span>لورم ایپسوم
            </li>
            <li class="list-group-item">
              <span class="badge bg-success float-right">4</span> نمودارهای رسمی
            </li>
          </ul>
        </div>
        <div class="card-footer border-top-0">
          <a class="card-link success">لینک کارت</a>
          <a class="card-link success">لینک دیگر</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Carousel</h4>
          <h6 class="card-subtitle text-muted">زیرنویس کارت پشتیبانی</h6>
        </div>
        <div class="card-content">
          <ngb-carousel>
            <ng-template ngbSlide>
              <img src="assets/img/photos/17.jpg" alt="Random first slide">
              <div class="carousel-caption">
                <h3>برچسب اسلاید اول</h3>
                <p>جوابگوی سوالات پیوسته اهل دنیای موجود طراحی</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <img src="assets/img/photos/13.jpg" alt="Random second slide">
              <div class="carousel-caption">
                <h3>برچسب اسلاید دوم</h3>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <img src="assets/img/photos/12.jpg" alt="Random third slide">
              <div class="carousel-caption">
                <h3>برچسب اسلاید سوم</h3>
                <p>نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاق می طلبد</p>
              </div>
            </ng-template>
          </ngb-carousel>
          <div class="card-body">
            <p class="card-text">
                بعضی از نمونه های سریع نمونه ای که بر روی عنوان کارت ساخته می شوند و بخش عمده ای از محتوای کارت را تشکیل می دهند.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- Content types section end -->

<!-- Card sizing section start -->
<section id="sizing">
  <div class="row text-left">
    <div class="col-12 mt-3 mb-1">
      <div class="content-header">اندازه گیری</div>
      <p class="content-sub-header">
        محدود کردن عرض کارت ها از طریق CSS سفارشی، کلاس های شبکه از پیش تعریف شده ما و یا با سبک های سفارشی با استفاده از mixins grid ما.
      </p>
    </div>
  </div>

  <div class="row text-left">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">اطلاعات پروژه</h4>
        </div>
        <div class="card-content">
          <div class="card-body">

            <div class="card-text">
              <p class="card-text">
                با متنی که در زیر آورده شده است به عنوان یک منبع طبیعی در محتوای اضافی.
              </p>
            </div>

            <form class="form">
              <div class="form-body">
                <h4 class="form-section mt-3"><i class="ft-user"></i> اطلاعات شخصی</h4>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="projectinput1" class="sr-only">نام</label>
                      <input type="text" id="projectinput1" class="form-control" placeholder="نام" name="fname">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="projectinput2" class="sr-only">نام خانوادگی</label>
                      <input type="text" id="projectinput2" class="form-control" placeholder="نام خانوادگی" name="lname">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="projectinput3" class="sr-only">ایمیل</label>
                      <input type="text" id="projectinput3" class="form-control" placeholder="ایمیل" name="email">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="projectinput4" class="sr-only">شماره تماس</label>
                      <input type="text" id="projectinput4" class="form-control" placeholder="شماره تماس" name="phone">
                    </div>
                  </div>
                </div>

                <h4 class="form-section mt-3"><i class="ft-check-circle"></i> الزامات</h4>

                <div class="form-group">
                  <label for="companyName" class="sr-only">نام شرکت</label>
                  <input type="text" id="companyName" class="form-control" placeholder="نام شرکت" name="company">
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="projectinput5" class="sr-only">علاقه مندی ها</label>
                      <select id="projectinput5" name="interested" class="form-control">
                        <option value="none" selected="" disabled="">علاقه مند هستم</option>
                        <option value="design">طراحی</option>
                        <option value="development">توسعه دهنده</option>
                        <option value="illustration">تصویر</option>
                        <option value="branding">نام تجاری</option>
                        <option value="video">ویدئو</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="projectinput6" class="sr-only">بودجه</label>
                      <select id="projectinput6" name="budget" class="form-control">
                        <option value="0" selected="" disabled="">مبلغ</option>
                        <option value="less than 5000$">کمتر از 50000 ریال</option>
                        <option value="5000$ - 10000$">50000 ریال - 1000000 ریال</option>
                        <option value="10000$ - 20000$">100000 ریال - 200000 ریال</option>
                        <option value="more than 20000$">بیشتر از 200000 ریال</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="projectinput8" class="sr-only">درباره ی پروژه</label>
                  <textarea id="projectinput8" rows="5" class="form-control" name="comment" placeholder="درباره ی پروژه"></textarea>
                </div>
              </div>

              <div class="form-actions">
                <button type="button" class="btn btn-raised btn-warning mr-1">
                  <i class="ft-x"></i> انصراف
                </button>
                <button type="button" class="btn btn-raised btn-primary">
                  <i class="ft-check"></i> ذخیره
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">پروفایل کاربر</h4>
        </div>
        <div class="card-content">
          <div class="card-body">

            <div class="card-text">
              <p class="card-text">با متنی که در زیر آورده شده است به عنوان یک منبع طبیعی در محتوای اضافی.</p>
            </div>

            <form class="form">
              <div class="form-body">
                <h4 class="form-section mt-3"><i class="ft-eye"></i> درباره ی کاربر</h4>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="userinput1" class="sr-only">نام</label>
                      <input type="text" id="userinput1" class="form-control" placeholder="نام" name="name">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="userinput2" class="sr-only">نام خانوادگی</label>
                      <input type="text" id="userinput2" class="form-control" placeholder="شرکت" name="company">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="userinput3" class="sr-only">نام کاربری</label>
                      <input type="text" id="userinput3" class="form-control" placeholder="نام کاربری" name="username">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="userinput4" class="sr-only">نام مستعار</label>
                      <input type="text" id="userinput4" class="form-control" placeholder="نام مستعار" name="nickname">
                    </div>
                  </div>
                </div>

                <h4 class="form-section mt-3"><i class="ft-mail"></i> اطلاعات تماس و بیو</h4>

                <div class="form-group">
                  <label for="userinput5" class="sr-only">ایمیل</label>
                  <input class="form-control" type="email" placeholder="ایمیل" id="userinput5">
                </div>

                <div class="form-group">
                  <label for="userinput6" class="sr-only">وب سایت</label>
                  <input class="form-control" type="url" placeholder="http://" id="userinput6">
                </div>

                <div class="form-group">
                  <label for="userinput8" class="sr-only">بیو</label>
                  <textarea id="userinput8" rows="5" class="form-control" name="bio" placeholder="بیو"></textarea>
                </div>

              </div>

              <div class="form-actions right">
                <button type="button" class="btn btn-raised btn-warning mr-1">
                  <i class="ft-x"></i> انصراف
                </button>
                <button type="button" class="btn btn-raised btn-primary">
                  <i class="ft-check"></i> ذخیره
                </button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Card sizing section end -->

<!-- Text alignment section start -->
<section id="text-alignment">
  <div class="row text-left">
    <div class="col-12 mt-3 mb-1">
      <div class="content-header">تراز متن </div>
      <p class="content-sub-header">
          شما می توانید متن هماهنگی هر کارت را در کلیت یا قسمت های خاص خود تغییر دهید - با کلاس های متن متن ما.

      </p>
    </div>
  </div>

  <div class="row text-left">
    <div class="col-lg-4 col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title info">متن تقسیم چپ </h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <p class="card-text">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
            </p>
            <p class="card-text">
                در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
            </p>
            <a class="btn btn-raised btn-info">برو به</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="card text-center">
        <div class="card-header">
          <h4 class="card-title success">متن تراز وسط</h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <p class="card-text">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.

            </p>
            <p class="card-text">
                در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.

            </p>
            <a class="btn btn-raised btn-success">برو به</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="card text-right">
        <div class="card-header">
          <h4 class="card-title danger">متن تراز راست </h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <p class="card-text">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.

            </p>
            <p class="card-text">
                در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.

            </p>
            <a class="btn btn-raised btn-danger">برو به</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Text alignment section end -->

<!-- Header footer section start -->
<section id="header-footer">
  <div class="row text-left">
    <div class="col-12 mt-3 mb-1">
      <div class="content-header">سربرگ و پاورقی        </div>
      <p class="content-sub-header">هدر اضافه و / یا پاورقی را در یک کارت اضافه کنید.        </p>
    </div>
  </div>
  <div class="row text-left" matchHeight="card">
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">کارت پایه</h4>
          <h6>کارت اصلی با سربرگ و پاورقی</h6>
        </div>
        <div class="card-content">
          <img class="img-fluid" src="assets/img/photos/02.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">
                بعضی از نمونه های سریع نمونه ای که بر روی عنوان کارت ساخته می شوند و بخش عمده ای از محتوای کارت را تشکیل می دهند

              </p>
            <a href="javascript:void(0);" class="card-link">لینک کارت</a>
            <a href="javascript:void(0);" class="card-link">لینک دیگر</a>
          </div>
        </div>
        <div class="card-footer text-muted">
          <span class="float-left">سه ساعت پیش</span>
          <span class="float-right">
            <a href="javascript:void(0);" class="card-link">خواندن بیشتر <i class="fa fa-angle-right"></i></a>
          </span>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">کارت دکمه شناور  </h4>
          <h6>کارت دکمه شناور  با سربرگ و پاورقی</h6>
        </div>
        <div class="card-content">
          <div class="card-img">
            <img class="img-fluid" src="assets/img/photos/09.jpg" alt="Card image cap">
            <a class="btn btn-floating halfway-fab btn-large bg-danger"><i class="ft-plus"></i></a>
          </div>
          <div class="card-body">
            <p class="card-text">حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد</p>
            <a class="card-link danger">لینک کارت</a>
            <a class="card-link danger">لینک دیگر</a>
          </div>
        </div>
        <div class="card-footer text-muted">
          <span class="float-left">1 روز پیش</span>
          <span class="tags float-right">
            <span class="badge bg-success white mr-1">تکنولوژی</span>
            <span class="badge bg-warning white">بازی</span>
          </span>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Carousel</h4>
          <h6>کارت اسلایدر  با سربرگ و پاورقی </h6>
        </div>
        <div class="card-content">
          <ngb-carousel>
            <ng-template ngbSlide>
              <img src="assets/img/photos/02.jpg" alt="Random first slide">
              <div class="carousel-caption">
                <h3>برچسب اسلاید اول</h3>
                <p>جوابگوی سوالات پیوسته اهل دنیای موجود طراحی</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <img src="assets/img/photos/03.jpg" alt="Random second slide">
              <div class="carousel-caption">
                <h3>برچسب اسلاید دوم</h3>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <img src="assets/img/photos/01.jpg" alt="Random third slide">
              <div class="carousel-caption">
                <h3>برچسب اسلاید سوم</h3>
                <p>نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاق می طلبد</p>
              </div>
            </ng-template>
          </ngb-carousel>
          <div class="card-body">
            <p class="card-text">
                بعضی از نمونه های سریع نمونه ای که بر روی عنوان کارت ساخته می شوند و بخش عمده ای از محتوای کارت را تشکیل می دهند.
            </p>
            <a href="javascript:void(0);" class="card-link">لینک کارت</a>
            <a href="javascript:void(0);" class="card-link">لینک دیگر</a>
          </div>
        </div>
        <div class="card-footer text-muted">
          <span class="float-left">2 روز پیش</span>
          <span class="tags float-right">
            <span class="badge bg-primary white mr-1">برند</span>
            <span class="badge bg-danger white">طراحی</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Header footer section end -->
